In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Oranjestad,AW,2021-05-31 01:34:06,12.5240,-70.0270,82.35,80,20,7.00
1,1,Chuncheng,CN,2021-05-31 01:34:07,22.1731,111.7886,90.01,61,96,6.44
2,2,Hobart,AU,2021-05-31 01:34:07,-42.8794,147.3294,51.26,75,0,1.01
3,3,Rikitea,PF,2021-05-31 01:34:07,-23.1203,-134.9692,75.15,70,64,12.01
4,4,Cienfuegos,CU,2021-05-31 01:34:08,22.1461,-80.4356,75.34,78,57,5.75

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Oranjestad,AW,2021-05-31 01:34:06,12.5240,-70.0270,82.35,80,20,7.00
3,3,Rikitea,PF,2021-05-31 01:34:07,-23.1203,-134.9692,75.15,70,64,12.01
4,4,Cienfuegos,CU,2021-05-31 01:34:08,22.1461,-80.4356,75.34,78,57,5.75
6,6,San Patricio,US,2021-05-31 01:34:08,28.0170,-97.5169,81.01,79,18,11.74
7,7,Pacific Grove,US,2021-05-31 01:32:59,36.6177,-121.9166,83.44,77,1,4.00
11,11,Luorong,CN,2021-05-31 01:34:09,24.4058,109.6086,79.72,83,100,2.64
12,12,Nichinan,JP,2021-05-31 01:31:22,31.6000,131.3667,79.75,58,1,6.64
14,14,Sakakah,SA,2021-05-31 01:34:10,29.9697,40.2064,83.77,13,81,5.93
18,18,Majene,ID,2021-05-31 01:34:11,-3.5403,118.9707,83.97,71,75,7.56
29,29,Axim,GH,2021-05-31 01:31:43,4.8699,-2.2405,78.73,87,100,6.93

In [18]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0      Oranjestad      AW     82.35  12.5240  -70.0270
3         Rikitea      PF     75.15 -23.1203 -134.9692
4      Cienfuegos      CU     75.34  22.1461  -80.4356
6    San Patricio      US     81.01  28.0170  -97.5169
7   Pacific Grove      US     83.44  36.6177 -121.9166
11        Luorong      CN     79.72  24.4058  109.6086
12       Nichinan      JP     79.75  31.6000  131.3667
14        Sakakah      SA     83.77  29.9697   40.2064
18         Majene      ID     83.97  -3.5403  118.9707
29           Axim      GH     78.73   4.8699   -2.2405

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Oranjestad,AW,82.35,12.5240,-70.0270,Divi Village Golf & Beach Resort
3,Rikitea,PF,75.15,-23.1203,-134.9692,Pension Maro'i
4,Cienfuegos,CU,75.34,22.1461,-80.4356,Casa Claumar B2BPay
6,San Patricio,US,81.01,28.0170,-97.5169,"Motel 6 Sinton, TX"
7,Pacific Grove,US,83.44,36.6177,-121.9166,Lovers Point Inn
11,Luorong,CN,79.72,24.4058,109.6086,荣立大酒店
12,Nichinan,JP,79.75,31.6000,131.3667,Guest House Aki
14,Sakakah,SA,83.77,29.9697,40.2064,Fakhamat Al Orjoana Apartment
18,Majene,ID,83.97,-3.5403,118.9707,Kost Putri RABBANI
29,Axim,GH,78.73,4.8699,-2.2405,AXIM BEACH RESORT AND SPA

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]